.project-title {
  font-size: 52px;
  font-weight: 400;
  line-height: normal;
}

.startup-project-text img {
  max-width: 100%;
  height: auto;
}

.repo-cards-div-main {
  margin: 0 auto;
  padding: 1rem 0 2rem 0;
}

.slick-slide-wrapper {
  padding: 0 0.75rem; /* Gap between slides */
  height: 100%;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-slide > div {
  height: 100%;
}

.slick-prev:before, .slick-next:before {
  color: #55198b !important; /* Arrows color matching theme */
  font-size: 24px !important;
}

.slick-prev {
  left: -35px !important;
}

.slick-next {
  right: -35px !important;
}

/* Media Query */
@media (max-width: 1380px) {
  .project-title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .project-title {
    font-size: 30px;
    text-align: center;
  }
  .repo-cards-div-main > div {
    flex: 0 0 300px;
  }
}
