.project-title {
  font-size: 52px;
  font-weight: 400;
  line-height: normal;
}

.startup-project-text img {
  max-width: 100%;
  height: auto;
}

.repo-cards-div-main {
  display: flex;
  overflow-x: auto;
  gap: 1.5rem;
  padding: 1rem 0 2rem 0;
  scroll-snap-type: x mandatory;
}

.repo-cards-div-main::-webkit-scrollbar {
  height: 8px;
}
.repo-cards-div-main::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 4px;
}
.repo-cards-div-main::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.repo-cards-div-main > div {
  flex: 0 0 400px;
  scroll-snap-align: start;
  height: auto;
}

/* Media Query */
@media (max-width: 1380px) {
  .project-title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .project-title {
    font-size: 30px;
    text-align: center;
  }
  .repo-cards-div-main > div {
    flex: 0 0 300px;
  }
}
